<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-7xl font-bold">初見絵描き歌</h1>
      <p class="py-6">初めて聴く絵描き歌で絵を描いてみよう！</p>
      <button class="btn btn-primary">新規登録してはじめる</button>
    </div>
  </div>
</div>
