<% flash.each do |message_type, message| %>
  <% case message_type %>
  <% when 'success'%>
    <div class="alert alert-success">
  <% when 'warning'%>
    <div class="alert alert-warning">
  <% when 'error' %>
    <div class="alert alert-error">
  <% else  %>
    <div class="alert alert-info">
  <% end %>
      <%= message %>
    </div>
<% end %>
