<div class="navbar bg-neutral text-neutral-content">
  <div class="flex-1">
    <%= link_to '初見絵描き歌', root_path, class: "btn btn-ghost normal-case text-xl" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to '新規登録', signup_path %></li>
      <li><a>ログイン</a></li>
    </ul>
  </div>
</div>
