<div class="navbar bg-neutral text-neutral-content">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">初見絵描き歌</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a>新規登録</a></li>
      <li><a>ログイン</a></li>
    </ul>
  </div>
</div>
